/* Global Styles */

html,
body {
	height: 100%;
}

body {
	padding-top: 140px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

blockquote {
	font-size: 12px;
}
blockquote footer{
	margin: 0;
}

.img-portfolio {
	margin-bottom: 30px;
}

.img-portfolio img {
	margin-bottom: 10px;
}

.img-hover:hover {
	opacity: 0.8;
}

/* Branding  and Navigation */

.navbar {
	border: none;
}

.navbar-brand {
	min-height: 140px;
}

.navbar-nav {
	margin: 38px 0 0;
}

.navbar-inverse {  
	background: rgba(0, 0, 0, 0) url("../images/header.jpg") no-repeat center;
}

.navbar-inverse .navbar-nav>li>a{
	font-size: 18px;
}

/* Home page */

.home-title {
	margin: 10px 0 20px;
}

.home-panel {
 	border: 0px solid transparent;
  	box-shadow: 1px 17px 25px -8px rgba(0,0,0,1.05);
}

.home-panel .panel-heading{
 	color: #B9B9B9;
  	background: rgba(0, 0, 0, 0) url("../images/panel-heading.jpg") repeat-x;
}

/* 404 Page Styles */

.error-404 {
  	font-size: 100px;
}

/* Footer Styles */

footer {
  	margin: 20px 0;
	color: #B9B9B9;
	font-size: 12px;
}

.footer-wrapper{
  	background: rgba(0, 0, 0, 0) url("../images/footer.jpg") no-repeat right;
}

/* BS Call Out */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
 border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
 	border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
 	border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

/* Carousel */
.carousel {
	background-color: #d2d9f5;
}
.carousel-control.right,
.carousel-control.left {
	background-image: none;
}
.carousel-control {
	color: #333;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #CA0D0D;
}
.carousel-indicators li {
	 background-color: #CCC;
	 border: 1px solid #777;
}
.carousel-indicators .active {
	background-color: #CA0D0D;
}
.carousel-caption {
	position: relative;
	right: auto;
	left: auto;
	margin: 10px 0 0 0;
	color: #333;
	text-shadow: none;
}
.carousel-caption h4 {
	margin:0 0 10px 0;
}

.carousel-inner img {
	max-height:400px;
}

/* Responsive Styles */

@media(max-width:991px) {
	.navbar-brand{
		min-height: 80px;
	}
	.navbar-nav {
	    margin: 0;
	}
	.navbar-inverse {
		background: rgba(0, 0, 0, 0) url("../images/header-mobile.jpg") repeat;
	}
}

@media(max-width:767px) {
	h1{font-size:22px;}
	h2{font-size:20px;}
	h3{font-size:18px;}
	h4{font-size:16px;}
	h5{font-size:14px;}
			
	body{
		padding-top: 50px;
	}
	.navbar-brand {
		min-height: 50px;
		padding: 0 15px;
	}
	.navbar-inverse {
		background: rgba(0, 0, 0, 0) url("../images/header-mobile.jpg") repeat;
	}
	.home-panel {
	   border: 1px solid #CCCCCC;
	   box-shadow: none;
	}
}
